.recording-item {
  display: flex;
  align-items: center;
  flex-direction: column;

  box-sizing: border-box;
  margin: 35px 50px;
  padding: 16px 40px;

  list-style-type: none;

  transition: all .2s ease-in-out;
  transition-property: transform, box-shadow, background;

  border: 2px solid var(--border-color);
  border-radius: 12px;
  background: var(--background-color);
  box-shadow: -5px 1px 66px 0 var(--shadow-color);
}
.recording-item:hover {
  cursor: pointer;
  transform: translateY(-3%);

  box-shadow: -5px 1px 52px 7px var(--shadow-color);
}
.recording-item.active {
  border: none;
  background: var(--primary-gradient-color);
  box-shadow: 6px 9px 40px 0 var(--shadow-primary-color);
}

.recording-item .date {
  font-size: 18px;
  font-weight: 600;

  padding-bottom: 5px;

  color: var(--text-color);
}
.recording-item.active .date,
.recording-item.active .duration {
  font-weight: 400;

  color: var(--background-teritary-color);
}

.recording-item .duration {
  font-size: 18px;
  font-weight: 400;

  opacity: .7;
  color: var(--text-color);
}
