.player-controls {
  height: 100%;
  padding: 20px 60px;
}

.controls {
  width: 150px;
  height: 600px;
  padding: 30px 0;
  background: linear-gradient(210.55deg, #ebf2f9 19.14%, #c6d7eb 154.68%)
      padding-box,
    linear-gradient(
        165.33deg,
        #ffffff 15.76%,
        rgba(219, 230, 242, 0) 47.38%,
        #8f9fae 111.31%
      )
      border-box;
  box-shadow: 8px 40px 96px rgba(18, 61, 101, 0.14),
    inset -8px -6px 80px rgba(255, 255, 255, 0.18);
  border-radius: 62px;
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control.button {
  background: linear-gradient(331.93deg, #ffffff 6.76%, #d7e3ed 146.38%)
      padding-box,
    linear-gradient(326.6deg, #e5effa 15.83%, #ffffff 125.11%) border-box;
  box-shadow: 0px 24px 36px rgba(176, 195, 210, 0.5);
  border-radius: 101.5px;
  border: 2px solid transparent;
  margin: 15px 0;
  transition: all 0.2s ease-in-out;
}

.control.button:active {
  transform: translateY(6%);
  box-shadow: none;
}

.control.button:disabled {
  opacity: 0.5;
}

.control.button .icon {
  font-size: 30px;
  color: var(--text-teritary-color);
}

.control.button.active .icon {
  color: var(--primary-color);
}
