body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

::-webkit-scrollbar {
  display: none !important;
}

*:focus {
  outline: 0;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
